{% extends './base.html' %}
{% block content %}
<main class="">
    <div id="product" class="productDetail-page tp_product_detail">
        <div class="breadcrumb-shop clearfix">
            <div class="padding-lf-40 clearfix">
                <div class=" ">
                    <ol class="breadcrumb breadcrumb-arrows clearfix" itemscope=""
                        itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                            <a href="/" target="_self" itemprop="item">
                                <i class="fa fa-home"></i>
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                            <a href="/ao-so-mi-pc588139.html" itemprop="item">
                                <span
                                    itemprop="name">{{obj_Product.Belong_Category_product_child.Belong_Category_product.Name}}</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope=""
                            itemtype="https://schema.org/ListItem">
                            <a href="/so-mi-dolce-lua-nu-hoang-martini-g5ej1t-hp5zs-p40777448.html" itemprop="item">
                                <span itemprop="name">{{obj_Product.Name}}</span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div>
            <div class="container" itemscope="" itemtype="https://schema.org/Product">
                <meta itemprop="url"
                    content="https://cuongpopauth.com/so-mi-dolce-lua-nu-hoang-g5ej1t-hp5zs-p40777448.html">
                <meta itemprop="name" content="{{obj_Product.Name}}">
                <meta itemprop="image" content="{{obj_Product.product_photo_detail.all.first.Photo.url}}">
                <div class="row product-detail-wrapper">
                    <div class="clearfix product-detail-main pr_style_01">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="wrap-p-img ">
                                {% for i in obj_Product.product_photo_detail.all %}
                                <a class="p-img-item " href="{{i.Photo.url}}" data-image="{{i.Photo.url}}"
                                    data-fancybox-group="button" data-fancybox="gallery" data-caption="Single image">
                                    <img src="https://milanauth.com.vn{{i.Photo.url}}" alt="{{obj_Product.Name}}">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12 product-content-desc" id="detail-product">
                            <div class="product-title">
                                <h1 class="tp_product_detail_name">{{obj_Product.Name}}</h1>



                                <span class="pro-soldold">
                                    <span class="statusProduct">Còn hàng</span>
                                </span>
                            </div>
                            <div class="product-price main-price" id="price-preview" itemscope=""
                                itemtype="http://schema.org/Offer">
                                {% if obj_Product.Discount > 0 %}
                                <span
                                    class="pro-price tp_product_detail_price format-number">{{obj_Product.Price_Discount}}₫</span>
                                <del class="tp_product_detail_price_old format-number">{{obj_Product.Price}}₫ </del>
                                <span class="pro-sale d-block">Giảm 42%</span>
                                {% else %}
                                <span
                                    class="pro-price tp_product_detail_price format-number">{{obj_Product.Price}}₫</span>
                                {% endif %}
                                <meta itemprop="availability" content="http://schema.org/InStock">
                                <meta itemprop="priceCurrency" content="VND">
                                <meta itemprop="priceValidUntil" content="2020-11-16">
                                {% if obj_Product.Discount > 0 %}
                                <meta itemprop="price" content="{{obj_Product.Price_Discount}}">
                                {% else %}
                                <meta itemprop="price" content="{{obj_Product.Price}}">
                                {% endif %}
                                <meta itemprop="url" content="{% url 'detail_product_cl' Slug=obj_Product.Slug %}">
                                <div style="display: none">
                                    <span itemprop="aggregateRating" itemscope=""
                                        itemtype="http://schema.org/AggregateRating">
                                        <span itemprop="ratingValue">5.0</span> stars, based on <span
                                            itemprop="reviewCount">189</span> reviews
                                    </span>
                                    <span itemprop="review" itemscope="" itemtype="http://schema.org/review">
                                        <meta itemprop="author" content="Người dùng">
                                    </span>
                                </div>
                            </div>


                            <form id="add-item-form" class="variants clearfix">
                                <div class="select-swatch clearfix ">
                                    <div id="variant-swatch-1" class=" swatch clearfix" data-option="option2"
                                        data-option-index="1">
                                        <div class="header">
                                            kích thước <span class="guideSize">
                                                <a href="#" data-toggle="modal" data-target="#modalSize">
                                                    Hướng dẫn chọn size</a>
                                            </span>
                                        </div>
                                        <input name="id_product_cart" id="id_product_cart" value="{{obj_Product.id}}"
                                            style="width:20px;" />
                                        <input name="size_product_cart" id="size_product_cart" value=""
                                            style="width:20px;" />
                                        <div class="select-swap attr-size req" data-column="i1">
                                            {% for i in obj_Product.product_size_detail.all %}
                                            {% if i.Quantity == 0 %}
                                            <div data-value="" class=" n-sd swatch-element">
                                                <label data-value="1944615"
                                                    data-src="{{obj_Product.product_photo_detail.all.first}}"
                                                    data-name="{{i.Size}}" class="deactive"
                                                    data-original-title="Sản phẩm tạm thời hết hàng" title="">
                                                    <span>{{i.Size}}</span>
                                                    <img class="crossed-out lazyload" data-sizes="auto"
                                                        src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                                                        data-src="https://web.nvnstatic.net/tp/T0298/img/soldout.png?v=7">
                                                </label>
                                            </div>
                                            {% else %}
                                            <div data-value="" class=" n-sd swatch-element">
                                                <label data-value="1944589"
                                                    data-src="{{obj_Product.product_photo_detail.all.first}}"
                                                    data-name="{{i.Size}}" class="" data-original-title="" title="">
                                                    <span>{{i.Size}}</span>
                                                    <img class="crossed-out lazyload" data-sizes="auto"
                                                        src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                                                        data-src="https://web.nvnstatic.net/tp/T0298/img/soldout.png?v=7">
                                                </label>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            <script>
                                                $(document).ready(function () {
                                                    // Khi click vào label
                                                    $('.select-swap .swatch-element label').click(function () {
                                                        // Kiểm tra nếu label chưa có class 'active' và không có class 'deactive'
                                                        if (!$(this).hasClass('active') && !$(this).hasClass('deactive')) {
                                                            // Thêm class 'active' vào label đã click
                                                            $(this).addClass('active');

                                                            // Lấy giá trị 'data-name' từ label và truyền vào input
                                                            var sizeName = $(this).data('name');
                                                            console.log("Size selected: " + sizeName);  // Kiểm tra giá trị size

                                                            // Truyền giá trị vào input
                                                            $('#size_product_cart').val(sizeName);  // Truyền giá trị vào input

                                                            // Kiểm tra giá trị đã được cập nhật vào input chưa
                                                            console.log("Input value updated: " + $('#size_product_cart').val());

                                                            // Loại bỏ class 'active' khỏi các label khác trong cùng một nhóm
                                                            $(this).closest('.select-swap').find('.swatch-element label').not(this).removeClass('active');

                                                            // Kiểm tra giá trị của input trực tiếp
                                                            var inputValue = $('#size_product_cart').val();
                                                            console.log("Input value after update: " + inputValue);  // Kiểm tra giá trị trong input
                                                        }
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-price main-price price-65700" id="price-preview">
                                    <span class="pro-price tp_product_detail_price">9,500,000₫</span>
                                </div>

                                <div class="selector-actions">
                                    <div class="quantity-area clearfix">
                                        <div class="title-quantity">Số lượng</div>
                                        <input type="button" value="-" onclick="minusQuantity()"
                                            class="qty-btn tp_button">
                                        <input type="text" id="quantity" name="quantity" value="1" min="1"
                                            class="quantity-selector" max="1">
                                        <input type="button" value="+" onclick="plusQuantity()"
                                            class="qty-btn tp_button">
                                        <span class="pro-soldold status-56700">
                                            <span class="statusProduct">Còn hàng</span>
                                        </span>
                                        <div class="wrap-addcart clearfix">
                                            <button type="button" id="add-to-cart" class="btnAddToCart tp_button"
                                                data-psid="40777448" data-selid="40777449" data-ck="1" data-size="1"
                                                style="">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button type="button" id="addQuickCart" class="btnAddToCart tp_button"
                                                data-totalmoney="0" data-psid="40777448" data-selid="40777449"
                                                data-ck="1" data-size="1" style="">
                                                Mua ngay
                                            </button>
                                        </div>
                                        <div class="pview-hightlight clearfix">
                                        </div>

                                        <div class="wishlist whist iWishAdd" psid="40777448">
                                            <i class="fa fa-heart-o"></i>
                                            <span class="favorite">YÊU THÍCH</span>
                                        </div>
                                        <div class="share">
                                            <span>Chia sẻ</span>
                                            <a
                                                href="https://www.facebook.com/sharer/sharer.php?u=https://cuongpopauth.com/so-mi-dolce-lua-nu-hoang-martini-g5ej1t-hp5zs-p40777448.html"><i
                                                    class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-action-bottom visible-xs">
                                        <div class="input-bottom hide">
                                            <input id="quan-input" type="number" value="1" min="1">
                                        </div>

                                        <button data-handle="" data-m-ck="0" data-size="1" type="button"
                                            id="add-to-cartbottom" class="add-cart-bottom tp_button">Thêm vào giỏ
                                            hàng</button>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(document).ready(function () {
                                    // Lắng nghe sự kiện click vào phần tử có class 'btn-submit'
                                    $('#add-to-cart').click(function () {
                                        // Lấy dữ liệu cần thiết từ phần tử
                                        var id_product_cart = $('#id_product_cart').val();  // Lấy giá trị từ thuộc tính data-id
                                        var size_product_cart = $('#size_product_cart').val();  // Lấy giá trị từ thuộc tính data-name
                                        var quantity = $('#quantity').val();
                                        // Gửi yêu cầu AJAX với phương thức POST
                                        if (size_product_cart) {
                                            $.ajax({
                                                url: '/add-product-cart/',  // Đường dẫn API hoặc view mà bạn muốn gửi request tới
                                                type: 'POST',
                                                data: {
                                                    id_product_cart: id_product_cart,
                                                    size_product_cart: size_product_cart,
                                                    quantity: quantity,
                                                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Thêm csrf token nếu đang sử dụng Django
                                                },
                                                success: function (response) {
                                                    $('#site-cart').html('');
                                                    // Chèn HTML vào trong phần tử #text_html_report
                                                    $('#site-cart').append(response);
                                                    $('#site-cart').show();
                                                    $('.count').text($('.textCartSide b').text());
                                                    $('#site-nav--mobile').addClass('active');
                                                    $('#site-overlay').addClass('active');

                                                },
                                                error: function (xhr, status, error) {
                                                    // Xử lý khi có lỗi xảy ra
                                                    console.log('Error:', error);
                                                    alert('An error occurred!');
                                                }
                                            });
                                        } else {
                                            alert('Chọn size trước khi thêm vào giỏ hàng!');
                                        }
                                    });
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    // Lắng nghe sự kiện click vào phần tử có class 'btn-submit'
                                    $('#addQuickCart').click(function () {
                                        // Lấy dữ liệu cần thiết từ phần tử
                                        var id_product_cart = $('#id_product_cart').val();  // Lấy giá trị từ thuộc tính data-id
                                        var size_product_cart = $('#size_product_cart').val();  // Lấy giá trị từ thuộc tính data-name
                                        var quantity = $('#quantity').val();
                                        // Gửi yêu cầu AJAX với phương thức POST
                                        if (size_product_cart) {
                                            $.ajax({
                                                url: '/add-product-cart/',  // Đường dẫn API hoặc view mà bạn muốn gửi request tới
                                                type: 'POST',
                                                data: {
                                                    id_product_cart: id_product_cart,
                                                    size_product_cart: size_product_cart,
                                                    quantity: quantity,
                                                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Thêm csrf token nếu đang sử dụng Django
                                                },
                                                success: function (response) {
                                                    window.location.href = "/checkout/";
                                                },
                                                error: function (xhr, status, error) {
                                                    // Xử lý khi có lỗi xảy ra
                                                    console.log('Error:', error);
                                                    alert('An error occurred!');
                                                }
                                            });
                                        } else {
                                            alert('Chọn size trước khi thêm vào giỏ hàng!');
                                        }
                                    });
                                });
                            </script>

                            <ul class="policyProduct">
                            </ul>
                            <div class="box_product_firstView product-description hidden-sm hidden-md hidden-lg">
                                <div class="title-bl">
                                    <h2>
                                        Nội dung sản phẩm <span class="icon-open "></span>
                                    </h2>
                                </div>
                                <div class="description-content" style="display: none;">
                                    <div class="main_details">
                                    </div>
                                </div>
                            </div>
                            <div class="product-description title_none dnone-96772 ">
                                <div class="title-bl">
                                    <h2>
                                        Thông số sản phẩm <span class="icon-open"></span>
                                    </h2>
                                </div>
                                <div class="description-content first-class">
                                    <div class="main_details">
                                    </div>
                                </div>
                            </div>

                            <div class="product-description title_none return-policy-area dnone-96772 ">
                                <div class="title-bl">
                                    <h2>
                                        Chính sách đổi trả <span class="icon-open"></span>
                                    </h2>
                                </div>
                                <div class="description-content">
                                    <div class="description-productdetail">
                                        <div class="description-productdetail">
                                            <p>ĐỔI TRẢ TRONG VÒNG 3 NGÀY , SẢN PHẨM CÒN NGUYÊN TAG VÀ CHƯA SỬ DỤNG&nbsp;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-description title_none preservation-area dnone-96772 ">
                                <div class="title-bl">
                                    <h2>
                                        Hướng dẫn bảo quản <span class="icon-open"></span>
                                    </h2>
                                </div>
                                <div class="description-content">
                                    <div class="description-productdetail">
                                    </div>
                                </div>
                            </div>

                            <div class="product-description-infor">
                                <ul class="policyProduct policyCart clearfix">
                                    <li>
                                        <img class="lazyautosizes ls-is-cached lazyloaded" data-sizes="auto"
                                            src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_1.png?v=7"
                                            data-src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_1.png?v=7"
                                            alt="free ship" sizes="372px">
                                        <span class="infoPolicy">
                                            <h5>MIỄN PHÍ GIAO HÀNG NỘI THÀNH HÀ NỘI VÀ CÁC ĐƠN HÀNG CHUYỂN KHOẢN TRƯỚC
                                            </h5>
                                        </span>
                                    </li>
                                    <li>
                                        <img class="lazyautosizes ls-is-cached lazyloaded" data-sizes="auto"
                                            src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_3.png?v=7"
                                            data-src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_3.png?v=7"
                                            alt="Return" sizes="372px">
                                        <span class="infoPolicy">
                                            <h5>ĐỔI TRẢ TRONG VÒNG 3 NGÀY&nbsp;</h5>
                                        </span>
                                    </li>
                                    <li>
                                        <img class="lazyautosizes ls-is-cached lazyloaded" data-sizes="auto"
                                            src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_4.png?v=7"
                                            data-src="https://web.nvnstatic.net/tp/T0298/img/tmp/img_policy_4.png?v=7"
                                            alt="Hotline" sizes="372px">
                                        <span class="infoPolicy">
                                            <p>SỐ 14 ĐƯỜNG PHÙNG HƯNG ( &nbsp;Nhỏ ) , HOÀN KIẾM , HÀ NỘI - HOTLINE :
                                                0902458989&nbsp;</p>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="review-box">
                        <div class="fb-comments"
                            data-href="https://cuongpopauth.com/so-mi-dolce-lua-nu-hoang-martini-g5ej1t-hp5zs-p40777448.html"
                            data-numposts="5" data-width="100%"></div>
                    </div>
                    <div class="col-xs-12 clearfix">
                        <ul class="tabUlRelate">
                            <li id="tab_List_Product_Love"  class="active"><a href="javascript:void(0)">Có thể bạn thích</a>
                            </li>
                            <li id="tab_List_Product_Well" class=""><a href="javascript:void(0)">Sản phẩm bán chạy</a></li>
                        </ul>
                        <div id="List_Product_Love" class="slider-container" style="display: flex; align-items: center;">
                            <!-- Nút điều hướng bên trái -->
                            <div class="swiper-button-prev" style="color: gray;"></div>
                            <!-- Slider chính -->
                            <div  class="swiper mySwiper" style="width: 100%; margin: 0 10px;">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 100%;">
                                    {% for i in List_Product_Love %}
                                    <div class="swiper-slide ">
                                        <div class="owl-item" style="width: 293.75px; margin-right: 0px;">
                                            <div class="itemslick pro-loop" data-id="40777248">
                                                <div class="product-block recommend-block" data-anmation="1">
                                                    <div class="product-img">
                                                        <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                            class="p-img-box added">
                                                            <picture>
                                                                <img class="img-loop lazyautosizes lazyloaded"
                                                                    data-sizes="auto"
                                                                    src="{{i.photo_1.Photo.url}}"
                                                                    data-src="{{i.photo_1.Photo.url}}"
                                                                    alt="{{i.Name}}"
                                                                    sizes="142px">
                                                            </picture>
                                                            <picture><img
                                                                    class="img-loop img-hover lazyautosizes ls-is-cached lazyloaded"
                                                                    data-sizes="auto"
                                                                    src="{{i.photo_2.Photo.url}}"
                                                                    data-id="40777248"
                                                                    data-src="{{i.photo_2.Photo.url}}"
                                                                    alt="{{i.Name}}"
                                                                    sizes="162px"></picture>
                                                        </a>
                                                    </div>
                                                    <div class="product-detail clearfix">
                                                        <div class="product-size-cus" psid="40777248">
                                                            {% for f in i.product_size_detail.all %}
                                                            <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                                class="text-main" value="40777249" title="46">
                                                                {{f.Size}}</a>
                                                            {% endfor %}
                                                            </div>
                                                        <div class="box-pro-detail">
                                                            <h3 class="pro-name tp_product_name">
                                                                <a
                                                                    href="{% url 'detail_product_cl' Slug=i.Slug %}">{{i.Name}}</a>
                                                            </h3>
                                                            <div class="box-pro-prices">

                                                                <p class="pro-price highlight tp_product_price">
                                                                    {% if k.Discount > 0 %}
                                                                    <span class="">{{i.Price_Discount}}₫</span>
                                                                    {% else %}
                                                                    <span class="">{{i.Price}}₫</span>
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Nút điều hướng bên phải -->
                            <div class="swiper-button-next" style="color: gray;"></div>
                        </div>
                        <div id="List_Product_Well" class="slider-container" style="display: none; align-items: center;">
                            <!-- Nút điều hướng bên trái -->
                            <div class="swiper-button-prev1" style="color: gray;"></div>
                            <!-- Slider chính -->
                            <div id="List_Product_Well"  class="swiper mySwiper1" style="width: 100%; margin: 0 10px;">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 100%;">
                                    {% for i in List_Product_Well %}
                                    <div class="swiper-slide ">
                                        <div class="owl-item" style="width: 293.75px; margin-right: 0px;">
                                            <div class="itemslick pro-loop" data-id="40777248">
                                                <div class="product-block recommend-block" data-anmation="1">
                                                    <div class="product-img">
                                                        <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                            class="p-img-box added">
                                                            <picture>
                                                                <img class="img-loop lazyautosizes lazyloaded"
                                                                    data-sizes="auto"
                                                                    src="{{i.photo_1.Photo.url}}"
                                                                    data-src="{{i.photo_1.Photo.url}}"
                                                                    alt="{{i.Name}}"
                                                                    sizes="142px">
                                                            </picture>
                                                            <picture><img
                                                                    class="img-loop img-hover lazyautosizes ls-is-cached lazyloaded"
                                                                    data-sizes="auto"
                                                                    src="{{i.photo_2.Photo.url}}"
                                                                    data-id="40777248"
                                                                    data-src="{{i.photo_2.Photo.url}}"
                                                                    alt="{{i.Name}}"
                                                                    sizes="162px"></picture>
                                                        </a>
                                                    </div>
                                                    <div class="product-detail clearfix">
                                                        <div class="product-size-cus" psid="40777248">
                                                            {% for f in i.product_size_detail.all %}
                                                            <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                                class="text-main" value="40777249" title="46">
                                                                {{f.Size}}</a>
                                                            {% endfor %}
                                                            </div>
                                                        <div class="box-pro-detail">
                                                            <h3 class="pro-name tp_product_name">
                                                                <a
                                                                    href="{% url 'detail_product_cl' Slug=i.Slug %}">{{i.Name}}</a>
                                                            </h3>
                                                            <div class="box-pro-prices">
    
                                                                <p class="pro-price highlight tp_product_price">
                                                                    {% if k.Discount > 0 %}
                                                                    <span class="">{{i.Price_Discount}}₫</span>
                                                                    {% else %}
                                                                    <span class="">{{i.Price}}₫</span>
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Nút điều hướng bên phải -->
                            <div class="swiper-button-next1" style="color: gray;"></div>
                        </div>
                    </div>
                </div>
                    <script>
                        $(document).ready(function () {
                            $("#tab_List_Product_Love").on("click", function () {
                                $(this).addClass("active");
                                $('#tab_List_Product_Well').removeClass('active');
                                // Ẩn tất cả nội dung tab
                                $("#List_Product_Well").hide();
                                $("#List_Product_Love").show();
                            });
                        });
                        $(document).ready(function () {
                            $("#tab_List_Product_Well").on("click", function () {
                                $(this).addClass("active");
                                $('#tab_List_Product_Love').removeClass('active');
                                // Ẩn tất cả nội dung tab
                                $("#List_Product_Well").show();
                                $("#List_Product_Love").hide();
                            });
                        });
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var swiper = new Swiper(".mySwiper", {
                                slidesPerView: 1,
                                spaceBetween: 10,
                                loop: true,
                                centeredSlides: true,
                                centerInsufficientSlides: true, // Căn giữa khi số slide ít hơn slidesPerView
                                breakpoints: {
                                    1024: {
                                        slidesPerView: 4,
                                        centeredSlides: false,
                                    },
                                    768: {
                                        slidesPerView: 2,
                                        centeredSlides: false,
                                    },
                                    0: {
                                        slidesPerView: 1,
                                        centeredSlides: true,
                                    },
                                },
                            });                            
                        });
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var swiper = new Swiper(".mySwiper1", {
                                slidesPerView: 1,
                                spaceBetween: 10,
                                loop: true,
                                centeredSlides: true,
                                centerInsufficientSlides: true, // Căn giữa khi số slide ít hơn slidesPerView
                                breakpoints: {
                                    1024: {
                                        slidesPerView: 4,
                                        centeredSlides: false,
                                    },
                                    768: {
                                        slidesPerView: 2,
                                        centeredSlides: false,
                                    },
                                    0: {
                                        slidesPerView: 1,
                                        centeredSlides: true,
                                    },
                                },
                            });                            
                        });
                    </script>


                </div>
            </div>
        </div>
    </div>
    <div class="bg-cover"></div>
    <div id="modalSize" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close tp_button" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Hướng dẫn chọn size</h4>
                </div>
                <div class="modal-body">
                    <p>{{obj_Product.Choose_size|default:""}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- modalBuyMobile -->
    <div class="modalBuyMobile notShow">
        <div class="innerModalBuyMobile">
            <div class="closeModalBuyMobile">
                <img class="lazyload" data-sizes="auto" src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                    data-src="https://web.nvnstatic.net/tp/T0298/img/tmp/iconclose.png?v=7" alt="Đóng">
            </div>

            <div class="imgModalBuyMobile">
                <img class="imgModalBuyMobileLarge lazyload" data-sizes="auto"
                    src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                    data-src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                    alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
            </div>

            <div class="infoModalBuyMobile">
                <h4>SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS</h4>
                <div class="priceModalBuyMobile">
                    <span class="pro-price">9,500,000₫</span>
                    <div class="ivt_mb">
                        <p>Kho:<span class="number">1</span></p>
                    </div>
                </div>
            </div>

            <div class="clearfix ">
                <div id="variant-swatch-1" class=" swatch clearfix" data-option="option2" data-option-index="1">
                    <div class="header">
                        Kích cỡ </div>
                    <div class="select-swap m-attr-size m-req" data-column="i1">
                        <div data-value="" class=" n-sd swatch-element">
                            <input class="variant-1" type="radio" name="option1" value="35" data-vhandle="35"
                                data-trigger="35">
                            <label data-value="1944589" class="active">
                                <span>40</span>
                                <img class="crossed-out lazyload" data-sizes="auto"
                                    src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                                    data-src="https://web.nvnstatic.net/tp/T0298/img/soldout.png?v=7">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" id="mBuyNow" class="buyNowModalBuyMobile btn-addtocart btnAddToCart tp_button"
                data-psid="40777448" data-selid="40777449" data-ck="1" data-size="1">
                Mua ngay</button>
        </div>
    </div>
    <div class="overModalBuyMobile fade notShow"></div>
    <!-- end modalBuyMobile -->


    <div class="hidden images">
        <div class="item itemdelete" data-original="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <a href="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg" title="Click để xem"
                data-option="do" data-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg" rel="lightbox-do">
                <img class="img-fluid img-responsive lazyload" data-sizes="auto"
                    src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                    data-src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                    alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
                <p class="click-p" href="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                    data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                    rel="lightbox-do">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Click xem hình lớn hơn
                </p>
            </a>
        </div>
        <div class="item itemdelete" data-original="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <a href="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg" title="Click để xem"
                data-option="do" data-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg"
                data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg" rel="lightbox-do">
                <img class="img-fluid img-responsive"
                    src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg"
                    alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
                <p class="click-p" href="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg"
                    data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg"
                    rel="lightbox-do">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Click xem hình lớn hơn
                </p>
            </a>
        </div>
        <div class="item itemdelete" data-original="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <a href="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg" title="Click để xem"
                data-option="do" data-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg"
                data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg" rel="lightbox-do">
                <img class="img-fluid img-responsive lazyload" data-sizes="auto"
                    src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                    data-src="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg"
                    alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
                <p class="click-p" href="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg"
                    data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg"
                    rel="lightbox-do">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Click xem hình lớn hơn
                </p>
            </a>
        </div>
        <div class="item itemdelete" data-original="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <a href="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg" title="Click để xem"
                data-option="do" data-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg"
                data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg" rel="lightbox-do">
                <img class="img-fluid img-responsive lazyload" data-sizes="auto"
                    src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                    data-src="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg"
                    alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
                <p class="click-p" href="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg"
                    data-zoom-image="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg"
                    rel="lightbox-do">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Click xem hình lớn hơn
                </p>
            </a>
        </div>
    </div>
    <div class="hidden thumbnails-hidden">
        <div class="thumbnail thumdelete clickItem"
            data-zoom="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <img class="img-fluid img-thumbnail" src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
        </div>

        <div class="thumbnail thumdelete clickItem"
            data-zoom="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg">
            <img class="img-fluid img-thumbnail" src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_osj61gUr3I.jpeg"
                alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
        </div>

        <div class="thumbnail thumdelete clickItem"
            data-zoom="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg">
            <img class="img-fluid img-thumbnail" src="https://pos.nvncdn.com/609d6b-117900/ps/20241231_bKQCUHcvYO.jpeg"
                alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
        </div>

        <div class="thumbnail thumdelete clickItem"
            data-zoom="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg">
            <img class="img-fluid img-thumbnail" src="https://pos.nvncdn.com/609d6b-117900/ps/20250103_NqFdn6YrqJ.jpeg"
                alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
        </div>

        <div class="thumbnail thumdelete clickItem"
            data-zoom="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg">
            <img class="img-fluid img-thumbnail" src="https://pos.nvncdn.com/609d6b-117900/ps/20250103_qQBN9cYL9D.jpeg"
                alt="SƠ MI DOLCE LỤA NỮ HOÀNG MARTINI G5EJ1T HP5ZS">
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Fancybox.bind('[data-fancybox="gallery"]', {
            infinite: true, // Cho phép quay vòng ảnh
            buttons: ["zoom", "close"], // Nút điều khiển
            caption: function (fancybox, carousel, slide) {
                return slide.caption || "";
            }
        });
    });
</script>
{% endblock %}