{% extends './base.html' %}
{% block content %}
<main class="main-site main-childs">
    <div class="user-wrapper">
        <div class="user-nav anonymous-awe">
            <a href="javascript:void(0)" class="active" rel="nofollow">Quên mật khẩu</a>
        </div>
        <div id="customer_login">
            <form method="post" name="UserGetActiveCode" class="f validate" id="UserGetActiveCode"><ul><li><label for="newpassword" class="required"><span>*</span> Nhập địa chỉ email:</label><input name="inputStr" type="text" class="tb validate[required],minSize[4]" id="newpassword" value=""></li><input type="hidden" name="csrf" value="212b2f5b6203b8e5b0c81431636e8e0e-7e435e958f272b4ee2a402a1ee5cdec6"><li class="btns"><input name="submit" type="submit" id="btnSubmit" class="htmlBtn first" value="Xác nhận"></li></ul></form>        </div>
    </div>
</main>
<style>
    .user-wrapper {
        max-width: 600px;
        margin: auto;
        border:1px solid #ccc;
    }
    .user-nav {
        border-bottom: 2px solid #cccccc63;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(146, 146, 146, 0.14);
    }
    .user-nav a{
        width: 100%;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
    }
    .user-nav a.active, .user-nav a:hover{
        border-bottom: 2px solid #10a2f7;
    }
    .user-wrapper form{
        padding: 20px;
    }
    .user-wrapper form li {
        width: 100%;
        clear: both;
        list-style: none;
        display: inline-block;
    }
    .user-wrapper form li input[name="inputStr"]{
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px  0;
    }
    .user-wrapper form li input, .user-wrapper form li button{
        padding: 8px 12px;
        width: 100%;
        clear: both;
        list-style: none;
        display: inline-block;
    }
    #btnSubmit{
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        border: none;
        background: #fd6e1d;
        background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
        background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
        background: -moz-linear-gradient(top,#f59000,#fd6e1d);
        background: -ms-linear-gradient(top,#f59000,#fd6e1d);
        background: -o-linear-gradient(top,#f59000,#fd6e1d);
    }
    #btnSubmit, #btnSubmit:hover, #btnSubmit:focus{
        outline: 0;
    }

</style>
{% endblock %}