{% extends './base.html' %}
{% block content %}
{% load socialaccount %}
<main class="main-site main-childs">
    <div class="user-wrapper">
        <div class="user-nav anonymous-awe">
            <a href="{% url 'login_cl' %}" class="active" rel="nofollow">Đăng nhập</a>
            <a href="{% url 'register_cl' %}" rel="nofollow">Đăng ký</a>
        </div>
        <form accept-charset="UTF-8" id="formAcount" class="validate" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="usernameformError parentFormformAcount formError"
                    style="opacity: 0.87; position: absolute; top: 179.375px; left: 891px; margin-top: -35px;">
                    <div class="formErrorArrow">
                        <div class="line10"><!-- --></div>
                        <div class="line9"><!-- --></div>
                        <div class="line8"><!-- --></div>
                        <div class="line7"><!-- --></div>
                        <div class="line6"><!-- --></div>
                        <div class="line5"><!-- --></div>
                        <div class="line4"><!-- --></div>
                        <div class="line3"><!-- --></div>
                        <div class="line2"><!-- --></div>
                        <div class="line1"><!-- --></div>
                    </div>
                </div><input style="font-size:14px; height:37px;" type="text" name="username" id="username" class="validate[required]"
                    placeholder="Nhập email">
            </div>
            <div class="form-group">
                <input style="font-size:14px; height:37px;" type="password" name="password" id="password" class="validate[required]" placeholder="Mật khẩu">
            </div>

            <button type="submit" id="btnsignin" class="btn btn-organ w__100">Đăng nhập</button>
            <div class="user-foot text-center">
                <a href="{% url 'getpassword_cl' %}" class="clearfix" rel="nofollow">Quên mật khẩu?</a>
                <p class="clearfix">Hoặc đăng nhập với</p>

                <li class="loginFb" rel="nofollow"><span><i class="fa fa-facebook"></i></span><a
                        href="{% url 'facebook_login' %}">Đăng nhập bằng Facebook</a></li>

                <li class="loginGg" rel="nofollow">
                    <span>
                        <i class="fa fa-google"></i>

                    </span>
                    <a href="{% url 'google_login' %}">Đăng nhập bằng Google</a>

                </li>
            </div>
        </form>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#formAcount').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);  // Tạo FormData từ form hiện tại
            $.ajax({
                url: '{% url 'login_cl' %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                processData: false,  // Không xử lý dữ liệu (cần thiết khi sử dụng FormData)
                contentType: false,  // Không đặt kiểu content (cần thiết khi sử dụng FormData)
                data: formData,
                success: function(response) {
                    if (response.success) {
                        window.location.href = "{% url 'home_cl' %}";
                    } else {
                        alert(response.message);
                    }
                },
                error: function(response) {
                    alert('Đăng nhập thất bại');
                }
            });
        });
    });
</script>
<style>
    .loginFb {
        width: 275px;
        background: #3b5998;
        display: inline-block;
    }

    .loginFb span,
    .loginGg span {
        float: left;
        width: 50px;
        height: 100%;
        font-size: 31px;
        color: #fff;
        border-right: 1px solid #15416f;
    }

    .loginGg span {
        border-right: 1px solid #646668;
    }

    .loginFb a,
    .loginGg a {
        color: #fff;
        padding: 0 5px;
    }

    .loginGg {
        width: 250px;
        background: #000;
        color: #fff;
        display: inline-block;
        margin-left: 20px;
    }

    .user-wrapper {
        max-width: 600px;
        margin: auto;
        border: 1px solid #ccc;
    }

    .user-nav {
        border-bottom: 2px solid #cccccc63;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(146, 146, 146, 0.14);
    }

    .user-nav a {
        width: 50%;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
    }

    .user-nav a.active,
    .user-nav a:hover {
        border-bottom: 2px solid #10a2f7;
    }

    .user-wrapper #formAcount {
        padding: 20px;
    }

    #formAcount input {
        width: 100%;
        clear: both;
        padding: 8px 12px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    #formAcount button {
        text-transform: uppercase;
        font-size: 18px;
        background: #000;
        color: #fff;
        border-color: #000;

    }

    #formAcount button,
    #formAcount button:hover,
    #formAcount button:focus {
        outline: 0;
    }

    .user-foot {
        font-size: 17px;
    }

    .user-foot a {
        margin: 10px 0;
        display: block;
    }

    .user-foot a.clearfix {
        color: #007bff;
    }

    .user-foot a.clearfix:hover {
        color: #fd6e1d;
    }

    .user-foot .btn {
        font-size: 16px;
        background: #3c5a9a;
        border-color: #3c5a9a;
    }
</style>
{% endblock %}