{% extends './base.html' %}
{% block content %}
<main class="">
    <div id="layout-cart">
        <div class="breadcrumb-shop">
            <div class="padding-lf-40 clearfix">
                <div class=" ">
                    <ol class="breadcrumb breadcrumb-arrows clearfix">
                        <li><a href="/" target="_self"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="active"><span>Đơn hàng</span></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="pd-page">
                <div class="container">
                    <div class="heading-pageNew">
                        <div class="header-pageCart">
                            <h1>Đơn hàng của bạn</h1>
                            <span class="count-cart">(Có <b> {{List_Order.count}}</b> đơn hàng đã đặt)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div id="cartformpage">
                            <div class="col-xs-12 col-sm-8">
                                {% for j in List_Order %}
                                <div class="cart-container" style="background:#e5e5e5; padding:10px; {% if forloop.last %}
                                border-top: 2px solid black; border-bottom: 2px solid black;
                                {% else %}
                                    border-top: 2px solid black;
                                {% endif %}">
                                    <div class="titleInfoCart" style="text-align:center;">CODE : {{j.Code}} - {{j.Status}}</div>
                                    <div class="cart-col-left">
                                        <div class="main-content-cart">
                                            <table class="table-cart">
                                                <thead>
                                                    <tr>
                                                        <th width="20%" class="image">&nbsp;</th>
                                                        <th width="40%" class="item">Tên sản phẩm</th>
                                                        <th width="20%" class="quantity">Số lượng</th>
                                                        <th width="20%" class="remove">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="updateItem">
                                                    {% for i in j.Data.data %}
                                                    <tr class="clearfix line-item-container">
                                                        <td class="image imageVariantCart">
                                                            <div class="product_image">
                                                                <a
                                                                    href="{% url 'detail_product_cl' Slug=i.product.Slug %}">
                                                                    <img src="{{i.product.product_photo_detail.all.first.Photo.url}}"
                                                                        alt="{{i.product.Name}} - {{i.size}}">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="item itemVariantCart">
                                                            <p>
                                                                <a
                                                                    href="{% url 'detail_product_cl' Slug=i.product.Slug %}">
                                                                </a>
                                                            </p>
                                                            <h3><a
                                                                    href="{% url 'detail_product_cl' Slug=i.product.Slug %}">
                                                                    {{i.product.Name}} - {{i.size}}
                                                                </a></h3><a
                                                                href="{% url 'detail_product_cl' Slug=i.product.Slug %}">
                                                            </a>
                                                            <p></p>
                                                            <div class="visible-xs showInMobileCart clearfix">
                                                                <div class="qty quantity-partent qty-click clearfix">
                                                                    {% comment %} <span class="add-down add-action">
                                                                        <form method="post" action="{% url 'checkout_cl' %}">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="type_quantity" value="down"  />
                                                                            <input type="hidden" name="pk" value="{{i.pk}}"  />
                                                                            <input type="hidden" name="page" value="cart"  />
                                                                            <button type="submit">-</button>
                                                                        </form>
                                                                    </span> {% endcomment %}
                                                                    <input type="text" size="4" min="1" id="" max=""
                                                                    value="{{i.quantity}}" data-id="40777466"
                                                                        class="tc line-item-qty item-quantity"
                                                                        readonly="">
                                                                    {% comment %} <span class="add-up add-action">
                                                                        <form method="post" action="{% url 'checkout_cl' %}">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="type_quantity" value="up"  />
                                                                            <input type="hidden" name="pk" value="{{i.pk}}"  />
                                                                            <input type="hidden" name="page" value="cart"  />
                                                                            <button type="submit">+</button>
                                                                        </form>
                                                                    </span> {% endcomment %}
                                                                    {% comment %} <form method="post" action="{% url 'checkout_cl' %}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="type_quantity" value="up"  />
                                                                        <input type="hidden" name="pk" value="{{i.pk}}"  />
                                                                        <input type="hidden" name="page" value="cart"  />
                                                                        <button type="submit">+</button>
                                                                    </form> {% endcomment %}
                                                                </div>
                                                                <span class="line-item-total">
                                                                    {{i.total_money}}₫ </span>

                                                            </div>
                                                        </td>

                                                        <td class="hidden-xs quantity quantityVariantCart">
                                                            <div class="qty quantity-partent qty-click clearfix">
                                                                <input type="text" size="4" min="1" max="0"
                                                                    data-id="40777466" value="{{i.quantity}}"
                                                                    class="tc line-item-qty item-quantity" readonly="">
                                                            </div>
                                                        </td>
                                                        <td class="hidden-xs totalLinePriceVariantCart">
                                                            <p class="price price-flex">
                                                                <span class="line-item-total">
                                                                    {{i.total_money}}₫ </span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="titleInfoCart" style="text-align:center;">Tổng giá trị đơn hàng : {{j.Data.total_money}}₫</div>
                                    {% if j.Deposit %}
                                    <div class="titleInfoCart text-yellow-700" style="text-align:center;">Đã cọc : {{j.Deposit}}₫</div>
                                    {% endif %}
                                    {% if j.Status == 'Chờ xác nhận' %}
                                    <form id="formOder_delete" class="flex justify-center">
                                        <input name="code" type="hidden" value="{{j.Code}}" />
                                        <input name="id" type="hidden" value="{{j.id}}" />
                                        <button type="submit" class="p-2 border-[1px] rounded-md bg-stone-700 text-stone-200 text-[14px] font-semibold">Xóa đơn hàng</button>
                                    </form>
                                    <script>
                                        $(document).ready(function() {
                                            $('#formOder_delete').on('submit', function(event) {
                                                event.preventDefault();
                                                var formData = new FormData(this);  // Tạo FormData từ form hiện tại
                                                alert('Bạn có chắc chắn muốn xóa đơn hàng ' + formData.get('code') + '!');
                                                $.ajax({
                                                    url: '{% url 'delete_order_cl' %}',
                                                    method: 'POST',
                                                    headers: {
                                                        'X-CSRFToken': '{{ csrf_token }}'
                                                    },
                                                    processData: false,  // Không xử lý dữ liệu (cần thiết khi sử dụng FormData)
                                                    contentType: false,  // Không đặt kiểu content (cần thiết khi sử dụng FormData)
                                                    data: formData,
                                                    success: function(response) {
                                                        if (response.success) {
                                                            window.location.href = "{% url 'order_cl' %}";
                                                        } else {
                                                            alert(response.message);
                                                        }
                                                    },
                                                    error: function(response) {
                                                        alert('Xóa đơn hàng thất bại !');
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="list-productRelated collectionInCart clearfix">
                                <div class="heading-title headingBorderLeft text-left">
                                    <h2>Sản phẩm có thể bạn thích</h2>
                                </div>
                                <div id="List_Product_Love" class="slider-container" style="display: flex; align-items: center;">
                                    <!-- Nút điều hướng bên trái -->
                                    <div class="swiper-button-prev" style="color: gray;"></div>
                                    <!-- Slider chính -->
                                    <div  class="swiper mySwiper" style="width: 100%; margin: 0 10px;">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 100%;">
                                            {% for i in List_Product_Love %}
                                            <div class="swiper-slide ">
                                                <div class="owl-item" style="width: 293.75px; margin-right: 0px;">
                                                    <div class="itemslick pro-loop" data-id="40777248">
                                                        <div class="product-block recommend-block" data-anmation="1">
                                                            <div class="product-img">
                                                                <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                                    class="p-img-box added">
                                                                    <picture>
                                                                        <img class="img-loop lazyautosizes lazyloaded"
                                                                            data-sizes="auto"
                                                                            src="{{i.photo_1.Photo.url}}"
                                                                            data-src="{{i.photo_1.Photo.url}}"
                                                                            alt="{{i.Name}}"
                                                                            sizes="142px">
                                                                    </picture>
                                                                    <picture><img
                                                                            class="img-loop img-hover lazyautosizes ls-is-cached lazyloaded"
                                                                            data-sizes="auto"
                                                                            src="{{i.photo_2.Photo.url}}"
                                                                            data-id="40777248"
                                                                            data-src="{{i.photo_2.Photo.url}}"
                                                                            alt="{{i.Name}}"
                                                                            sizes="162px"></picture>
                                                                </a>
                                                            </div>
                                                            <div class="product-detail clearfix">
                                                                <div class="product-size-cus" psid="40777248">
                                                                    {% for f in i.product_size_detail.all %}
                                                                    <a href="{% url 'detail_product_cl' Slug=i.Slug %}"
                                                                        class="text-main" value="40777249" title="46">
                                                                        {{f.Size}}</a>
                                                                    {% endfor %}
                                                                    </div>
                                                                <div class="box-pro-detail">
                                                                    <h3 class="pro-name tp_product_name">
                                                                        <a
                                                                            href="{% url 'detail_product_cl' Slug=i.Slug %}">{{i.Name}}</a>
                                                                    </h3>
                                                                    <div class="box-pro-prices">
        
                                                                        <p class="pro-price highlight tp_product_price">
                                                                            {% if k.Discount > 0 %}
                                                                            <span class="">{{i.Price_Discount}}₫</span>
                                                                            {% else %}
                                                                            <span class="">{{i.Price}}₫</span>
                                                                            {% endif %}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Nút điều hướng bên phải -->
                                    <div class="swiper-button-next" style="color: gray;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}